.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mevo-marker {
    background-size: cover;
    width: 33px;
    height: 46px;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
  }